language: node_js
node_js:
  - "10.14.1"
cache: npm

sudo: required

services:
  - docker
notifications:
  email: false
  
before_install:
  - sudo apt-get install libsecret-1-dev

script:
  - echo 'npm ci:' && echo -en 'travis_fold:start:script.1\\r'
  - npm ci
  - echo -en 'travis_fold:end:script.1\\r'

  - echo './release.sh -d' && echo -en 'travis_fold:start:script.1\\r'
  - travis_wait 30 ./release.sh -d
  - echo -en 'travis_fold:end:script.2\\r'
